.newArrivalsCollections{
    width: 100%;
    margin-top: 20px;
}
.newArrivalsCollections h1{
    color: rgb(29, 58, 81);
}
.products{
    width:100%;
    height: 720px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 100px;
}
.newArrivalProduct{
    width:100%;
    height:85%;
}
.products .product{
    border-radius:0;
    margin-left: 70px;
    width:220px;
    /* border: 0.2px solid rgb(189, 197, 202); */
}
.newArrivalProductDetails{
    display: flex;
    justify-content: center;
}
.Card a{
    text-decoration: none;
    color:rgb(29, 58, 81);
}
.newArrival{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
