.slide-container {
    width: 100%;
    margin-top: 0px;
}
.img1 {
    width: 99%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top:-160px;
    text-align: end;
}
.img1 .card{
    min-width: 140px;
    min-height: 140px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1 .card:hover{
    background-color: rgb(29, 58, 81);
    color:white;
}
/* .img1 .card .cardLink:hover{
    background-color: rgb(29, 58, 81);
    color:white;
} */

.content{
       background-color: transparent;
       color:rgb(237, 247, 255);
       margin-top: -500px;
       padding-left: 50px;
       position: absolute;
       display: flex;
       justify-content: left;
       font-size:xx-large;
}
/* .content Button{
    width: 150px;
    background-color: rgb(29, 58, 81);
} */
.slideContainerButton{
    background-color: rgb(29, 58, 81);
    color:white;
}
.slideContainerButton:hover{
    background-color: aliceblue;
    color:black;
    transition: background-color 0.8s ease, color 0.8s ease; 
}