.footerContent{
    width: 100%;
    height: 389px;
    background-color: rgb(29, 58, 81);;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    margin: 0;
    color:white;
    text-decoration: none;
}
.copyRight a{
    color:white;
    text-decoration: none;
}
.copyRight  a:hover{
    color:black;
}
.copyRight{
    margin-top: 30px;
    text-align: center;
}
